.section-1{
    color: #353748;
}
.checked:before {
    content: '✓' ; 
    color: green;
    margin-right: 1vw;
}
.section-2 {
    background-color: #58B792;
    color:#FFFFFF;
    padding-top: 5vh;
}
.section-2 .btn {
    background-color: #2C5B49;
    border-color: #2C5B49;   
}
.section-2in {
    margin: 5vh;
}
.section-3 {
    background-color: #F5A339;
    color:#FFFFFF;
}
.section-3 .btn {
    background-color: #7A511E;

    border-color:#7A511E;
}
.section-3in {
    margin: 5vh;
<<<<<<< Updated upstream
}
=======
}
.section-4{
    background-color: #5F62BD;
    color:#FFFFFF;
}
.section-4 .btn {
    background-color: #2F325F;
    border-color:#2F325F;
}
.section-4in {
    margin: 5vh;
>>>>>>> Stashed changes
